services:
  server:
    build: server
    restart: unless-stopped
    volumes:
      - ./server:/app
    ports:
      - 8000:8000
    env_file:
      - project.env
    depends_on:
      - database
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.05'
          memory: 256M
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.server-router.entrypoints=web'
      - 'traefik.http.routers.server-router.rule=PathPrefix(`/`)'
      - 'traefik.http.services.server-service.loadbalancer.server.port=8000'

  client:
    build: client
    restart: unless-stopped
    volumes:
      - ./client:/app
      - node_modules:/app/node_modules # Named volume prevents binary conflicts
    ports:
      - 4321:4321
    depends_on:
      - server

  k6-tests:
    entrypoint: '/bin/true'
    build: k6-tests
    volumes:
      - ./k6-tests/tests:/tests
    depends_on:
      - client
    labels:
      - 'traefik.enable=false'

  database:
    container_name: postgresql_database
    image: postgres:17.0
    restart: unless-stopped
    env_file:
      - project.env
    command: >
      postgres
      -c shared_preload_libraries=auto_explain,pg_stat_statements
      -c auto_explain.log_min_duration=10

  traefik:
    image: traefik:v3.3
    command:
      - '--api.insecure=true'
      - '--providers.docker=true'
      - '--entrypoints.web.address=:12345'
    ports:
      - '8080:8080'
      - '12345:12345'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'

  database-migrations:
    image: flyway/flyway:10
    env_file:
      - project.env
    depends_on:
      - database
    volumes:
      - ./database-migrations:/flyway/sql
    command: -connectRetries=60 -baselineOnMigrate=true migrate
    labels:
      - 'traefik.enable=false'

  redis:
    image: redis:7.4.2
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf

volumes:
  node_modules:
